*{
    background-color: #0F172A;
    color: white;
}
.iii{
    margin-top: 60px;
    text-align: center;
}

p img {
    width: 40px; /* Adjust image size */
    height: 40px; /* Adjust image size */
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #1f315c;
} 
@media (max-width: 768px) {
    .row1, .row2 {
        flex-direction: column; /* Stack elements vertically */
    }

    .box, .box2 {
        width: 98%; /* Ensure inputs span full width */
    }
  .second-container{

    
  }
    
}

.p1{

    
        text-align: left;
        margin-left: 20px;
        padding: 0;
   
}
.contact{
    font-size: 25px;
    background-color: whitesmoke;
    margin-left: 40px;
}
.box{
width: 95%;
border-radius: 3px;
background-color: rgb(135, 207, 251);
border: none;
background-color: #1f315c;

}


.box2{
   

    width: 98%;
    border-radius: 3px;
    background-color: rgb(135, 207, 251);
    border: none;
    height: 200px;
    background-color: #1f315c;

}

.row1 {
     /* Keep the top margin for spacing */
    width: 100%; /* Use viewport width to ensure fullscreen */
    margin-top: -10px;
    
    font-size: 18px;
    font-weight: 400;
   justify-content: center;
   
}
.row1-all-box{
    width: 10px;
    margin-top: 20px;
}
.box3 {
    flex-wrap: wrap;
    display: flex;
    
    width: 720px; /* Take up full width of the parent container */
    height: 100px;
    
    gap: 20px;
    
     /* Ensures equal spacing between elements */
}

.box3 p {
    background-color: #1f315c;
    
    padding: 0px;
    width: 100%; /* Each <p> will take up equal space */
    max-width: calc(33.33% - 20px); /* Make each item take up one-third of the width with some space for padding */
    box-sizing: border-box; /* Ensures padding doesn't increase width */
    border-radius: 5px;
    font-size: 16px;
    
    display: flex; /* Use flexbox to center text */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    text-align: center;
}
.box4 {
    flex-wrap: wrap;
    
    margin-left: 0px;
    margin-left: 15px;
    
    width: 1440px; /* Take up full width of the parent container */
    height: 90px;
    margin-left: 0px;
    
     /* Ensures equal spacing between elements */
}


.box4 p {
    background-color: #1f315c;
    border: 2px solid black;
    padding: 0px;
    width: 100%; /* Each <p> will take up equal space */
    max-width: calc(33.33% - 20px); /* Make each item take up one-third of the width with some space for padding */
    box-sizing: border-box; /* Ensures padding doesn't increase width */
    border-radius: 5px;
    font-size: 16px;
    height: 80px;
    display: flex; /* Use flexbox to center text */
    align-items:start; /* Vertically center text */
    justify-content:start ; /* Horizontally center text */
    text-align:left;
    text-align: center;
    align-items: center;
    
}
.box4 img{
    width: 40px; /* Adjust image size */
    height: 40px; /* Adjust image size */
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 5px;
   justify-content: flex-start;
}

.style-iframe{
    width :100%;
    height: 450px;
    border: 0px; 
    margin: 3px;
    justify-content: left;


}
.contacto{
text-align: center;

display: flex;
flex-direction: column;

}

.row2{

    text-align: center;
}
.f1{

margin-bottom: 20px;

}

.yeah{

    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -520px;
}
.img{
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.footer-container {

    height: 35vh;
    background-image: url('Flag.png');
    background-position: center;
    background-repeat: no-repeat;

}

.footer-container .footer-wrapper p{

    font-size: 12px;

}

.footer-container .biniimg {

    width: 70%;

}

.footer-container .footer-wrapper p span{

    font-size: 14px;

}

.footer-container .gov-links a{

    text-decoration: none;
    color: white;

}

.footer-container .gov-links a:hover{

    color: orange;

}

.footer-container .stay-connected{

    display:flex; 
    flex-direction: row; 
    gap: 10px;

}

.footer-container .stay-connected .bxl-instagram:hover{

    color:violet;

}

.footer-container .stay-connected .bxl-facebook-square:hover{

    color:blue;

}

.footer-container .stay-connected .bxl-twitter:hover{

    color:skyblue;

}
@media screen and (max-width: 768px) {

    .footer-container {
        font-size: 12px;
        height: 100vh;
        background-color: #0F172A;
    
    }
    
    .footer-container .page-link {
        text-decoration: none;
        margin: 5px;
        cursor: pointer;
    }

    .footer-container .biniimg {

        width: 30%;

    }

    .footer-container .stay-connected{

        margin-left: 51px;
    
    }
}