* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif

}
*{
    color: black;
}



.contact{
    font-size: 25px;
    background-color: whitesmoke;
    margin-left: 40px;
}
.p1{

margin-left: 40px;

}

.f1{

margin-bottom: 20px;
margin-left: 40px;
}

.yeah{

    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -520px;
}
.img{
    
    width: 300px;
    margin-bottom: 20px;
}

body {

    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
}

.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 0px 130px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.navigation {

    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;


}

.navigation a {
    
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid #ededed;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    white-space: nowrap; 
    font-size: 0.8rem;

}

.navigation a span {

    color: black;
    text-decoration: none;
    font-size: 1.1rem;
   
}

.navigation a i{
    
    color: gray;
    font-size: 9px;
}


.navigation .home {

    background-color: #e4e4e4;

}

.navigation a:hover{

    background-color: #e4e4e4;

}

.dropdown {
    
    align-self: stretch;
    position: relative;
    display: inline-block;

}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {

    padding: 10px;
    display: block;
    text-decoration: none;
    
}


.dropdown:hover .dropdown-content {

    display: block;

}

.right-nav {
     
    align-self: stretch;
    display: flex;
    gap: 20px;
    

}

.right-nav .search-div {

    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid #cacaca;
    padding: 0 15px;

}

.right-nav .search-div input {

    height: 65%;
    border: 1px solid #e1e1e1;

}

.socials {

    display: flex;
    align-items: center;
    gap: 15px;
}
.socials i{

    font-size: 30px;
    color:black;
}

#first-section {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;

}

.head-div {
    
    justify-self: center;
    margin-top: 75px;
    margin-right: 40px;
    display: flex;
    margin-bottom: 20px;
    gap: 210px;

}

.head-img1{
    flex-grow: 1;  /* Allow items to grow to fill available space */
    flex-shrink: 1; /* Allow items to shrink */
    flex-basis: auto; /* Allow items to take their natural width */
    display: flex;
    justify-content: center;
}

/* Keep images at their original size */
.head-div img {
    /* No width or height modification */
    max-width: 100%; /* Allow images to scale down if necessary */
    height: auto; /* Maintain aspect ratio */
}

/* Image styling with initial sizes */
.head-img1 img {
    width: 940px;
    height: 105px;
    object-fit: contain; /* Make sure the images are contained within their container */
}

.head-img2 img {
    width: 98px;
    height: 127px;
    object-fit: contain; /* Ensure the second image maintains its aspect ratio */
}


.bar {

    border: 1px solid #ededed;
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    flex-shrink: 0;

}

.body-div {

    color: black;
    display: flex;
    gap: 40px;
    
}

.body-div::after {
    content: "";
    display: table;
    clear: both;
  }

.left-body {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

}

.left-body h1{

   font-size: 30px;

}

.news-outer {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

}

.news-inner1 {

    display: flex;
    gap: 50px;
    font-size: 16px;
}

.news {

    

}

.news div {

    display: flex;

}

.news div p span{

    color: #2ba6cb;
    font-weight: 700;

}

.news button {

    margin-top: 10px;
    background-color: red;
    border: 1px solid red;
    padding: 8px;
    border-radius: 5px;
    color: white;

}

.news-pages-button {

    display: flex;

}

.news-pages-button a {

    text-decoration: none;
    padding: 6px 10px;
    font-size: 15px;
    color: #337ab7;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    
}

.news-pages-button a:hover {

    background-color: gray;

}

.news-pages-button a:active {

    background-color: #337ab7;
    color: white;

}


.socmed-title {

    align-self: center;
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;

}

.socmed {

    display: flex;
    gap: 10px;
    
}

.twitter-timeline-container {

    height: 500px;
    width: 250px;
}
















.right-body {

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.right-body img {

    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 10px;

}

.right-body div {

    border: 1px solid #e1e1e1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 10px;

}

.right-body div a {

    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;

}

.right-body div h2{

    font-size: 22px;
    width: 95%;
    text-align: left;
    
}







.buttom-info {
    margin-top: 30px;
    color:gray;
    display: flex ;
    justify-content: center;
    gap: 80px;
    background-color: #efefef;
    width: 100%;
    padding: 30px;
    font-size: 11px;
}

.buttom-info div p span{

    color:black;

}
.first-info {
    
    display: flex;
    gap: 30px;

}
.first-info p{

   max-width: 250px;
 

}

.second-info p {
    
    max-width: 280px;


}

.second-info div {

    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.second-info  div a {

    text-decoration: none;
    color: gray;
    
}


.third-info div{

    margin-right: 180px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    

}

.third-info div a {

    text-decoration: none;
    color: gray;
    
}